{% extends "base.html" %}

{% block title %}RedDictio{% endblock %}

{% block body %}

    <section class="about-container">
        <div class="profile-container">
            {# Image Placeholder #}
             <div class="name-container">
                <a href="">T</a>
                <h2>Ryan Smith</h2>
                <a href="">T</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, sit?</p>
        </div>

        <div class="profile-container">
            {# Image Placeholder #}
            <div class="name-container">
                <a href="">T</a>
                <h2>Jairo Garciga</h2>
                <a href="">T</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, sit?</p>
        </div>
    </section>

{% endblock %}