{% extends "base.html" %}

{% block title %}RedDictio{% endblock %}

{% block body %}

    <section class="about-container">
        <div class="profile-container">
             <img src="{{ url_for('static', filename='images/About Us/Ryan_smith_about_us.png') }}" alt="">
             <div class="name-container">

                 <a href="https://www.linkedin.com/in/ryan--smith/">
                     <i class="fab fa-linkedin fa-3x"></i>
                 </a>

                 <h2>Ryan Smith</h2>
                 <a href="">
                     <i class="fab fa-github fa-3x"></i>
                 </a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, sit?</p>
        </div>

        <div class="profile-container">
            <img src="{{ url_for('static', filename='images/About Us/Jairo_garciga_about_us.jpg') }}" alt="">

            <div class="name-container">
                <a href="https://www.linkedin.com/in/jairo-garciga/">
                     <i class="fab fa-linkedin fa-3x"></i>
                 </a>
                <h2>Jairo Garciga</h2>
                <a href="https://jgar157.github.io/">
                     <i class="fab fa-github fa-3x"></i>
                 </a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, sit?</p>
        </div>
    </section>

{% endblock %}